name: Fetch and ingest

on:
  schedule:
    # Note times are in UTC, which is 1 or 2 hours behind CET depending on daylight savings.
    #
    # Note the actual runs might be late.
    # Numerous people were confused, about that, including me:
    #  - https://github.community/t/scheduled-action-running-consistently-late/138025/11
    #  - https://github.com/github/docs/issues/3059
    #
    # Note, '*' is a special character in YAML, so you have to quote this string.
    #
    # Docs:
    #  - https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#schedule
    #
    # Tool that deciphers this particular format of crontab string:
    #  - https://crontab.guru/
    #
    # Runs at 4pm UTC (12pm EDT) since curation by NCBI happens on the East Coast.
    - cron:  '0 16 * * 2'

  repository_dispatch:
    types:
      - fetch-and-ingest

  # Manually triggered using GitHub's UI
  workflow_dispatch:
    inputs:
      trial_name:
        description: 'Short name for a trial run. WARNING: without this we will overwrite files in s3://nextstrain-data/files/workflows/rsv'

jobs:
  fetch-and-ingest:
    permissions:
      id-token: write
    uses: nextstrain/.github/.github/workflows/pathogen-repo-build.yaml@master
    secrets: inherit
    with:
      runtime: docker
      env: |
        TRIAL_NAME: ${{ inputs.trial_name }}
      run: |
        declare -a config

        if [[ "$TRIAL_NAME" ]]; then
          config+=("s3_dst=s3://nextstrain-data/files/workflows/rsv/trial/$TRIAL_NAME")
        fi

        nextstrain build \
          --env S3_DST \
          ingest \
            upload_all \
            --configfiles build-configs/nextstrain-automation/config.yaml \
            --config "${config[@]}"
